<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>jSlots Slot Machine - Matthew Lein</title>
  <link href='http://fonts.googleapis.com/css?family=Gravitas+One&text=1234567' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script src="easing.js" type="text/javascript" charset="utf-8"></script>
  <script src="slots.js" type="text/javascript" charset="utf-8"></script>
  <script src="app.js" type="text/javascript" charset="utf-8"></script>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="fancy">
        <ul class="slot">
            <li><span>C</span></li>
            <li><span>L</span></li>
            <li><span>O</span></li>
            <li><span>W</span></li>
        </ul>
        <div class="balance">
          <h4>balance</h4>
          <p>10</p>
        </div>
        <input type="button" id="playFancy" value="Play">
        <button type="button" id="reset" name="button">Reset if out of credits</button>
    </div>

    <script type="text/javascript" charset="utf-8">
        // fancy example
    </script>

</body>
</html>
